/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a modern, clean font */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Basic styling for headers */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #222;
}

/* Basic styling for paragraphs */
p {
    margin-bottom: 20px;
}

/* Basic styling for links */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Basic styling for buttons */
button {
    background-color: #b7b7b7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 3px;
}

button:hover {
    background-color: #2980b9;
}

/* Basic container styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Stijl voor de popup */
.ol-popup {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 200px;
  }
  
/* Stijl voor de sluitknop */
.ol-popup-closer {
text-decoration: none;
position: absolute;
top: 2px;
right: 8px;
font-size: 18px;
font-weight: bold;
color: #333;
background: transparent;
border: none;
cursor: pointer;
}
  
/* Verberg de standaardstijl van de sluitknop als afbeelding */
.ol-popup-closer::before {
content: '×'; /* Dit geeft een kruisje weer */
}

/* Als de knop wordt aangeklikt, wordt hij verborgen */
.ol-popup-closer:hover {
color: red;
}


.popup-content {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
  }
  
  .popup-content h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
  }
  
  .popup-content .description {
    font-size: 1em;
    color: #666;
  }
  
  .popup-content .popup-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .popup-content .ar-link {
    margin-top: 20px;
  }
  
  .popup-content .ar-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .popup-content .ar-button:hover {
    background-color: #0056b3;
  }
  
  